.form-field-divider-title {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.form-field-divider-line {
  margin-top: -10px;
  background-color: black;
}

.estimated-value-container {
  display: flex;
  padding: 10px;
}

.estimated-item-value-title {
  margin-right: 10px;
}

.estimated-item-value-title,
.estimated-item-value {
  font-size: medium;
  font-weight: bold;
  color: black;
}
